/********************************************
 ***** DEMO STYLE (NOT RELEVANT)
 *******************************************/
	html, body
	{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

	body
	{
		font-size: 13px;
		font-family: Arial;
		color: #333;
		
		/* Background */
		/* doc: https://developer.mozilla.org/en/Using_gradients */
		background: -webkit-linear-gradient(top, #666, #000 30%);
		background: -moz-linear-gradient(top, #666, #000 30%);
		background-color: #000;
	}

	body > aside
	{
		position: absolute;
		top: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #FFF;
		font-weight: bold;
		font-size: 16px;

		/* Background */
		/* doc: https://developer.mozilla.org/en/Using_gradients */
		background: -webkit-linear-gradient(top, #666, #000 30%);
		background: -moz-linear-gradient(top, #666, #000 30%);
		background-color: #000;
	}

	body > section
	{
		/* presentation mode */
		width: 800px;
		background-color: #CECECE;
		padding: 20px;

		border: 1px solid #AAA;

		/** border radius **/
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-bottom-radius:6px;

		/** box shadow **/ 
		-moz-box-shadow: 4px 4px 4px #999;
		-webkit-box-shadow: 4px 4px 4px #999;
		box-shadow: 4px 4px 4px #999;

		/* Background */
		/* doc: https://developer.mozilla.org/en/Using_gradients */
		background: -webkit-linear-gradient(top, #CECECE 50%, #AAA);
		background: -moz-linear-gradient(top, #CECECE 50%, #AAA);
		background-color: #CECECE; /* Fallback if gradient not supported */
	}

	body > section > hgroup
	{
		width: 90%;
		height: 50px;
		border: 1px solid #CCC;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;

		/** border radius **/
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-bottom-radius:6px;

		/** box shadow **/ 
		-moz-box-shadow: 4px 4px 4px #999;
		-webkit-box-shadow: 4px 4px 4px #999;
		box-shadow: 4px 4px 4px #999;

		/* Background */
		/* doc: https://developer.mozilla.org/en/Using_gradients */
		background: -webkit-linear-gradient(top, #FEFEFE 50%, #CCC);
		background: -moz-linear-gradient(top, #FEFEFE 50%, #CCC);
		background-color: #CECECE; /* Fallback if gradient not supported */
	}

	body > section > hgroup > h1
	{
		font-size: 18px;
		font-weight: bold;
		background: none !important;
		margin-right: 20px;
	}

	body > section > hgroup > h2
	{
		font-size: 15px;
		font-style: italic;
		background: none !important;
	}

	body > section > div
	{
		margin-top: 20px;
	}

	body > section > div.code > * > *
	{
		max-width: 500px;
		min-width: 500px;
		max-height: 150px;
	}
