s|Application
{
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 5px;
}

mx|LinkButton
{
}

s|Label
{
}

s|Panel
{
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.headerBorderContainer
{
}

s|Button
{
	padding-left: 6px;
	padding-right: 6px;
}

s|TextInput
{
}

.boldLinkButton
{
}

.commonLinkButton
{
}

.blueLinkButton
{
}

.yellowLinkButton
{
}

.orangeLinkButton
{
}

.footerLinkButton
{
}

.helpLinkButton
{
}

.reportLinkButton
{
}

.addLanguageLinkButton
{
}

.removeLanguageLinkButton
{
}

.signOutLinkButton
{
}

.recStartLinkButton
{
}

.creditLinkButton
{
}

.boldLabel
{
}

.boldYellowLabel
{
}

.boldBlueLabel
{
}

.lightGreyLabel
{
}

.boldDarkGreyLabel
{
}

.boldDarkerGreyLabel
{
}

.uploadSearchBox
{
	vertical-align: "middle";
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 250px;
	padding-right: 8px;
}

.searchTextInput
{
}

.formLabel
{
}

.loginPopup
{
}

.privacyRightsPopup
{
}

.reportPopup
{
}

.genericPopup
{
}

.homeLinkButton
{
}

.practiceLinkButton
{
}

.evaluateLinkButton
{
}

.subtitleLinkButton
{
}

.configureLinkButton
{
}

.aboutLinkButton
{
}

.searchButton
{
}

.uploadButton
{
}

.paginationButton
{
	padding-left: 0px;
	padding-right: 0px;
}

.paginationControlButton
{
	padding-left: 1px;
	padding-right: 1px;
}

.homeUploadButton
{
}

.homeSubtitleButton
{
}

.homeEvaluateButton
{
}

.homePracticeButton
{
}

.videoDurationLabel
{
}

.errorLabel
{
}

.roundedBlueBorderBox
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.sectionInfoTitleLabel
{
}

.sectionTitleLabel
{
}

.sectionTitleHRule
{
}

.exerciseTitleLabel
{
}

.sectionLowerTitleLabel
{
}

.bigBlueButton
{
}

.paginationWhiteBlueButton
{
}

.sectionInfoBox
{
}

.roundedPurpleBox
{
	vertical-align: middle;
	padding-left: 6px;
	padding-right: 6px;
}

.roundedBorderGreyBox
{
	vertical-align: middle;
}

.roundedBorderWhiteBox
{
	vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
}

.creditHighlightLink
{
}

.configResultBox
{
	padding-top: 12px;
	padding-left: 16px;
	padding-right: 16px;
}

.bwResultLabel
{
}

.watchRecordedButton
{
}

.recordAgainButton
{
}

