/*
	Name: Babelium Project
	Date: March 2011
	Description: Main CSS file for babelium style
	Version: 1.0
*/

/* Imports */
@import url("css/reset.css");  /* resets browsers default style */
@import url("css/layout.css"); /* loads babelias base layout */
@import url("css/style.css");
@import url("cupertino/jquery-ui-1.8.11.custom.css");  /* jquery ui style */
@import url("css/forms.css");  /* custom modifications for some elements */

