/*
 * HEADER
 */

/* TOP NAVIGATION */

html, body
{
	width: 100%;
	min-height: 100%;
	height: 100%;
	min-width: 1000px;
}

/*
 * TOP NAVIGATION
 */

nav#topnav
{
	height: 35px;
}

	nav#topnav > ul > li
	{
		margin-left: 8px;
		margin-right: 8px;
	}

	nav#topnav > ul > li:first-child {margin-left: 16px;}
	nav#topnav > ul > li:last-child {margin-right: 16px;}

aside#popup
{
	width: 100%;
	height: 30px;
	
	display: none;
}

	aside#popup > div
	{
		width: 100%;
		height: 30px;	
	}
	
			aside#popup > div > ul > li
			{
				padding-left: 5px;
				padding-right: 5px;
			}
		
				aside#popup > div > ul > li > input
				{
					height: 20px !important;
				}
				
				aside#popup > div > ul > li > button
				{
					height: 20px !important;
				}

div#logo
{
	position: absolute;
	left: 15px;
	top: 35px;
	z-index: 1;
}

/* MAIN NAVIGATION */

nav#mainnav
{
	height: 118px;
}

	nav#mainnav > ul
	{
		min-width: 720px;
	}

		nav#mainnav > ul > li
		{
			padding-left: 18px;
			padding-right: 18px;
			min-height: 50px;
			line-height: 50px;
		}


/* SEARCH BAR */

div#searchnav
{
	height: 35px;
	/* logo width  */
	padding-left: 200px;
	padding-right: 10px;
}

/* END OF HEADER */

/* START OF MOTD */

aside#motd
{
	width: 100%;
}

	ul#motdmessages, ul#motdmessageshelper
	{
		width: 100%;
		padding-top: 20px;
	}
	
		ul#motdmessageshelper > li
		{
			width: 20px;
			height: 20px;
			margin: 5px;
		}

		ul#motdmessages > li
		{
			width: 1000px;
		}
			
		ul#motdmessages > li.motdMessage
		{
			display: none;
		}
			
		ul#motdmessages > li.motdMessage:first-child
		{
			display: block;
		}
		
div.motdImage
{
	width: 240px;
	height: 180px;	
}

div.motdContent
{
	width: 500px;
}

	div.motdContent > *
	{
		margin-bottom: 15px;
	}

				
ul.features
{
	padding: 20px;
}
				
	ul.featureButtons > li
	{
		padding: 15px;
		margin: 3px;
	}
	
	ul.featureButtons > li.whitespace
	{
		width: 5px;
		margin-left: 5px;
		margin-right: 5px;
		padding: 0px;
	}
						
		ul.featureButtons > li > *
		{
			padding-bottom: 5px;
		}

 aside#motd > ul.motdLinksHelper
 {
 	width: 100%;
 }

ul#motdLinks
{
	margin-right: 30px; 
}

	ul#motdLinks > li
	{
		padding: 7px 15px 5px 15px; 
		margin-right: 3px;
	}

div.hhelper
{
	height: 3px;
}

/* END OF MOTD */

/* MAIN CONTENT */

section#maincontent > header
{
	padding-top: 15px;
}

	section#maincontent > header > h1
	{
		height: 50px;
		padding-left: 20px;
	}
	
	section#maincontent > section > header
	{
		height: 50px;
		padding-left: 20px;
		padding-top: 20px;
	}
	
	section#maincontent > section > header > h1
	{
		width: 400px;
		height: 27px;
	}
	
/* END OF MAIN CONTENT */

/* LOADER */

section#maincontent > #loader
{
	position: absolute;
	display: none;
	width: 200px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
	
		section#maincontent > #loader > div#loadcontext
		{
			width: 100%;
			height: 100%;
		}
		
/* END OF LOADER */

/* EXERCISE LIST */
	
	section#maincontent > section.exerciseList
	{
		margin: 20px;
	}
	
	section#maincontent > section.exerciseList > article
	{
		width: 49%;
		min-width: 470px;
		max-width: 600px;
		min-height: 140px;
		float: left;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	
		section#maincontent > section.exerciseList > article > *
		{
			display: inline-block;
		}
		
		section#maincontent > section.exerciseList > article > div
		{
			width: 300px;
			height: 100%;
		}
		
			section#maincontent > section.exerciseList > article > div > h1
			{
				padding-bottom: 3px;
				margin-bottom: 3px;
			}
			
			section#maincontent > section.exerciseList > article > div > p
			{
				margin-bottom: 3px;
			}
			
			section#maincontent > section.exerciseList > article > div > *
			{
				width: 100%;
			}
	
		section#maincontent > section.exerciseList > article > aside
		{
			width: 170px;
			padding: 10px;
		}
		
			section#maincontent > section.exerciseList > article > aside > div
			{
				width: 150px;
				height: 90px;
				border: 1px solid black;
			}
			
				section#maincontent > section.exerciseList > article > aside > div > span
				{
					position: absolute;
					width: 30px;
					height: 10px;
					background-color: black;
				}

/* END OF EXERCISE LIST */

/* FOOTER */

footer
{
	height: 40px;	
}

	footer > div.spacer
	{
		height: 30px;
	}
	
	footer > ul.HBox
	{
		width: 1000px;
		height: 40px;
	}
	
		footer > ul.HBox > li
		{
			padding-right: 20px;
			padding-left: 20px;
		}
		
		

/* END OF FOOTER */
